@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity

@inject IAuthorizationService AuthorizationService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DiamondAssessmentSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
        /* CSS for this can go here, instead of having it as a different file*/
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DiamondAssessmentSystem</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>
                    @{
                        //This is a new code
                        var authResult = await AuthorizationService.AuthorizeAsync(User, "AllUsersPolicy");

                        // This for public acess pages
                        if (!User.Identity.IsAuthenticated)
                        {

                        }   //For admin code
                        else if (User.IsInRole("Admin"))
                        { //These for Authentication
                          //Load all nav for Admins
                          <ul class="navbar-nav flex-grow-1">
                              <li class="nav-item">
                                  <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Index">Account</a>
                              </li>
                          </ul>
                        }
                        else if (User.IsInRole("Employee")) //These for Authentication
                        {    //Load for staff
                             <ul class="navbar-nav flex-grow-1">
                                 <li class="nav-item">
                                     <a class="nav-link text-dark" asp-area="" asp-controller="Blog" asp-action="Index">Blog</a>
                                 </li>

                                <!--Example for service price:-->
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="ServicePrice" asp-action="Index">ServicePrice</a>
                                </li>
                            </ul>
                        } // end is staff
                        else if (User.IsInRole("Customer"))   //Validate roles
                        {
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="Me">Customer</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="MyOrder">Order</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Request" asp-action="My">Request</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Certificate" asp-action="Personal">Certificate</a>
                                </li>
                                @* Code for other Roles to Load here!*@
                                <!--Example for service price:-->
                            </ul>

                        }else if (User.IsInRole("Consultant"))   //Validate roles
                        {
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Result" asp-action="Index">Result</a>
                                </li>
                            </ul>

                        } 
                    }
                    <ul class="navbar-nav">
                        @if (User.Identity.IsAuthenticated)  //Check if user has identity
                        {
                            //This code makes sure to load Login and Log out with their name
                            // <li class="nav-item">
                            //     <span class="nav-link text-dark">Hello @User.Identity.Name!</span>
                            // </li>
                            <li>  <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Logout">Logout</a> </li>
                        }
                        else
                        {
                            //Load what happen after authentication
                            <li>  <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Login">Login</a> </li>

                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            © 2025 - DiamondAssessmentSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>