@model DiamondAssessmentSystem.Application.DTO.ChatLogDTO

<div class="relative inline-block group">
    <img src="@Model.FilePath" alt="image" class="rounded-lg max-w-xs border" />
    <a href="@Url.Action("Download", "ChatMessages", new {
            conversationId = Model.ConversationId,
            chatId = Model.ChatId,
            savedFileName = Model.FilePath
        })"
       class="absolute top-1 right-1
              bg-gray-800 hover:bg-gray-900
              text-white text-xl
              rounded-full p-2
              shadow-md z-10
              opacity-0 group-hover:opacity-100
              transition duration-200"
       title="Download">
        ↓
    </a>
</div>
